In [1]:
import numpy as np
import pandas as pd

from scipy.stats import ttest_ind, mannwhitneyu

In [2]:
data = pd.read_csv('final_data.csv')
data.head(5)

,Unnamed: 0,address,info,z_address,bathrooms,bedrooms,finishedsqft,lastsolddate,lastsoldprice,latitude,longitude,neighborhood,totalrooms,usecode,yearbuilt,zestimate,zindexvalue,zipcode,zpid
0,2,Address: 1160 Mission Street #2007,San FranciscoSales price: 1300000Sales date: ...,1160 Mission St UNIT 2007,2.0,2.0,1043.0,02/17/2016,1300000.0,37.778705,-122.412635,South of Market,4.0,Condominium,2007.0,1167508.0,"975,700",94103.0,83152781.0
1,5,Address: 260 King Street #475,San FranciscoSales price: 750000Sales date: 0...,260 King St UNIT 475,1.0,1.0,903.0,02/17/2016,750000.0,37.777641,-122.393417,South of Market,3.0,Condominium,2004.0,823719.0,"975,700",94107.0,69819817.0
2,7,Address: 560 Missouri Street #B,San FranciscoSales price: 1495000Sales date: ...,560 Missouri St # B,4.0,3.0,1425.0,02/17/2016,1495000.0,37.759198,-122.396516,Potrero Hill,6.0,Condominium,2003.0,1708594.0,"1,277,600",94107.0,64972847.0
3,9,Address: 350 Missouri Street,San FranciscoSales price: 2700000Sales date: ...,350 Missouri St,3.0,3.0,2231.0,02/17/2016,2700000.0,37.761886,-122.396769,Potrero Hill,10.0,SingleFamily,1927.0,2411236.0,"1,277,600",94107.0,15149489.0
4,11,Address: 3658 Folsom Street,San FranciscoSales price: 1530000Sales date: ...,3658 Folsom St,3.0,3.0,1300.0,02/17/2016,1530000.0,37.740795,-122.413453,Bernal Heights,4.0,SingleFamily,1900.0,1918539.0,"1,248,000",94110.0,15161978.0

In [3]:
p_value = 0.05

statistic, pvalue = ttest_ind(data[data['yearbuilt'] < 2010]['lastsoldprice'],
                              data[data['yearbuilt'] >= 2010]['lastsoldprice'])
print(round(pvalue, 5))
'Нуль-гипотеза верна!' if pvalue >= p_value else 'Принимаем альтернативную гипотезу'

0.0848

'Нуль-гипотеза верна!'

In [6]:
data['usecode'].value_counts()

SingleFamily        5803
Condominium         4802
MultiFamily2To4      486
Duplex               146
Townhouse             66
Miscellaneous         17
Cooperative            3
Apartment              3
MultiFamily5Plus       2
Mobile                 2
Name: usecode, dtype: int64

In [9]:
single_price = data.query('usecode == "SingleFamily"')['lastsoldprice']
flat_price = data.query('usecode == "Condominium"')['lastsoldprice']

statistic, pvalue = ttest_ind(single_price, flat_price)
print(round(pvalue, 5))
'Нуль-гипотеза верна!' if pvalue >= p_value else 'Принимаем альтернативную гипотезу'

0.0

'Принимаем альтернативную гипотезу'

In [14]:
single_price.mean(), single_price.std(), single_price.median()

(1408017.8733413753, 1283274.5966929197, 1045000.0)

In [13]:
flat_price.mean(), flat_price.std(), flat_price.median()

(1083701.3990004165, 651837.4763519927, 925000.0)

In [16]:
single_sqft = data.query('usecode == "SingleFamily"')['finishedsqft']
flat_sqft = data.query('usecode == "Condominium"')['finishedsqft']

statistic, pvalue = ttest_ind(single_sqft, flat_sqft)
print(round(pvalue, 5))
'Нуль-гипотеза верна!' if pvalue >= p_value else 'Принимаем альтернативную гипотезу'

0.0

'Принимаем альтернативную гипотезу'

In [17]:
single_sqft.mean(), single_sqft.std(), single_sqft.median()

(1796.695502326383, 937.0015665427977, 1574.0)

In [18]:
flat_sqft.mean(), flat_sqft.std(), flat_sqft.median()

(1216.9585589337776, 648.5220649491714, 1117.5)

In [21]:
mission_price = data.query('neighborhood == "Mission"')['lastsoldprice']
south_price = data.query('neighborhood == "South of Market"')['lastsoldprice']

statistic, pvalue = ttest_ind(mission_price, south_price)
print(round(pvalue, 5))
'Нуль-гипотеза верна!' if pvalue >= p_value else 'Принимаем альтернативную гипотезу'

0.0

'Принимаем альтернативную гипотезу'

In [22]:
mission_price.mean(), mission_price.std(), mission_price.median()

(1225646.5796296296, 738635.4651994272, 1042500.0)

In [23]:
south_price.mean(), south_price.std(), south_price.median()

(933477.8625954199, 421511.04207507585, 825000.0)

In [24]:
mission_price = data.query('neighborhood == "Mission"')['lastsoldprice']
south_price = data.query('neighborhood == "South of Market"')['lastsoldprice']

statistic, pvalue = ttest_ind(mission_price, south_price, equal_var=False)
print(round(pvalue, 5))
'Нуль-гипотеза верна!' if pvalue >= p_value else 'Принимаем альтернативную гипотезу'

0.0

'Принимаем альтернативную гипотезу'